<form class="signup-form">
	<div class="login-screen-title">{{app_title}}</div>
	<div class="list-block">
		<ul>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{{label_user}}</div>
					<div class="item-input">
						<input type="text" name="username" placeholder="{{placeholder_user}}">
					</div>
				</div>
			</li>
      <li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{{label_email}}</div>
					<div class="item-input">
						<input type="text" name="email" placeholder="{{placeholder_email}}">
					</div>
				</div>
			</li>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{{label_pass}}</div>
					<div class="item-input">
						<input type="password" name="password" placeholder="{{placeholder_pass}}">
					</div>
				</div>
			</li>
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title label">{{label_confirmpass}}</div>
					<div class="item-input">
						<input type="password" name="password" placeholder="{{placeholder_confirmpass}}">
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="list-block">
		<ul>
			<li><a href="#" class="item-link list-button signup">{{btn}}</a>
			</li>
		</ul>
		<div class="list-block-label">
			<div>
        {{message}}
        <a class="show-login">
          {{signup_label}}
        </a>
      </div>
		</div>
	</div>
</form>
